.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .container h1{
    font-weight: 600;
    font-size: 42px;
    text-align:center;
}
.container h1 span{
    color:#4285f4;

}
  .form {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    padding: 20px;
    border-radius: 16px;
  }
  
  .input,
  .message {
    width: 100%;
  }
  
  .input input,
  .message textarea {
    border: none;
    outline: none;
    background-color: #d9d9d9;
    padding: 10px;
    border-radius: 16px;
    font-weight: 400;
    font-size: 16px;
    color: var(--softTextColor);
  }
  
  .message textarea {
    height: 94px;
    width:100%;
    resize: none;
  }
  
  .btn {
    width: 100%;
    background-color: #4285f4; /* Google brand color */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #357ae8; /* Darker shade on hover */
  }
  