.container {
  margin-top: 30px;
}
.title {
  font-size: 36px;
}

.post {
  margin-top: 60px;
  display: flex;
  gap: 50px;
}
.imgContainer {
  flex: 1;
  object-fit:cover;
  height: 300px;
  position: relative;
}
.image {
  object-fit:cover;
  border-radius: 8px;
}
.textContainer {
  overflow:hidden;
  flex: 1;
  display: flex;
  min-height: 300px;
  height:100%;
  flex-direction: column;
  gap: 20px;
}
.postTitle {
  font-size: 40px;
}
.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}
.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  background-color: aliceblue;
  color: #0f173a;
}

@media screen and (max-width: 1280px) {
    .title{
        font-size: 64px;
    }
}

@media screen and (max-width: 1024px) {
    .title{
        font-size: 56px;
    }
    .imgContainer{
        display: none;
    }
}

@media screen and (max-width: 768px) {
 
    .title{
        font-size: 40px;
    }
    .postDesc{
      display: none;
    }
    .textContainer{
      height: max-content
    }
}

@media screen and (max-width: 640px) {
    .title{
        font-size: 36px;
    }
}